/* global */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.font-grey{
  color:rgb(107, 107, 107);
}

.font-grey2{
  color: rgb(185, 185, 185);
}

.bg-grey{
  background-color:#efefef;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,.55);
  color: white;
  cursor: pointer;
  padding: 9px 17px 12px 17px;
  border-radius: 50%;
}

#myBtn:hover{
  background-color: rgba(0, 0, 0, 0.733);
}

/* global ends */

.sidenav {
    height: 100%;
    width: 21rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 80px;
    background-color: #ffffff;
    transition: 0.5s;
    padding-top: 11rem;
    border-left: 1px solid rgb(234, 234, 234);
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
    color: #b9a186;
  }

  .sidenav{
      overflow-x:unset;
      
  }
 
  .side-hide{
      overflow-x: hidden !important;
      width:0px !important;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 24px;
    height: 2px;
    background: #4b4a4a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: #4b4a4a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .2s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-7px);
  }
  .menu-btn__burger::after {
    transform: translateY(7px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .logo{
    width:84%;
  }

  .social-icons{
    width:2%;
  }
  
  .bgvid{
    position:relative;
    left:0;
    top:0;
    width:100%;
    margin: -5px 0px;
    overflow: hidden;
    object-fit: fill;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  .nav-height{
    z-index:999;
    width:min-content;
    background-color:#ffffff;
  }

  .video-content{
    position: absolute;
    top: 14rem;
    color: #FFFFFF;
    
    width: 100%;
  }

  .branding-font{
    font-family: "Playfair Display",serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .products-font{
    font-family: "Playfair Display",serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 3rem;
  }

  .people-font{
    font-family:serif;
    font-size: 50px;
    font-style: italic;
    font-weight:normal;
  }

  .projects{
    padding: 0.775rem 1.85rem !important;
    border-radius: 0;
  }

  .fa{
    color: #636363;
  }

  .who::before{
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    left: 104px;
    width: 30px;
    margin-top: -1px;
    border-bottom: 1px solid;
  }

  .who{
    font-size: 13px;
    padding-left:9rem;
  }

  .brand{
    font-weight: bold;
    font-size:38px;
    line-height: 2.6rem;
    padding-left:9rem;
    font-family: "Playfair Display",serif;
  }

  .details-title{
    font-family: "Playfair Display",serif;
    font-weight:bold;
    font-style:italic;
    font-size:20px;
  }

  .details-padding{
    padding-left:5rem;
  }

  .projects-row{
    padding-left:5rem;
    height:400px;
  }

  #project-btn{
    font-family: "Playfair Display",serif;
  }


  .project1-bg{
    background-image: url("../images/project1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }

  .project-content:hover{
    background-color: rgba(0,0,0,.75);
    transition: all 1s;
  }

  .project-content{
    display: flex !important;
    align-items: flex-end !important;
    padding-bottom: 3rem;
    padding-left: 4rem;
    height:100%;
    font-family: "Playfair Display",serif;
    color:#FFFFFF;
    background-color: rgba(0,0,0,.55);
    font-weight:600;
  }

  .project-detail{
    font-size: 13px;
  }

  .project-content h2{
    font-size:1.8rem;
    font-weight:bold;
  }
  

  .project2-bg{
    background-image: url("../images/project2.jpg");
    background-position: center;
    background-size: cover;
  }

  

  .project3-bg{
    background-image: url("../images/project3.jpg");
    background-position: center;
    background-size: cover;
  }

  .project4-bg{
    background-image: url("../images/project4.jpg");
    background-position: center;
    background-size: cover;
  }

  .view-font{
    text-decoration:none;
    color:#4d4d4d;
    font-size:13px;
  }

  .view-font:hover{
    text-decoration: none;
    color:#b9a186;

  }

  .services-border{
    border:1px solid #e8e5e5;
    padding: 2rem;
    height: 17rem;
  }

  .services-title{
    font-size:15px;
  }

  .services-content{
    font-size:15px;
    color:#808080;
    letter-spacing: 1px;
  }

  .services-icon{
    color:#6d6d6d;
  }

  .testimonial-bg{
    background-image: url("../images/stairs.jpg");
    background-position: center;
    background-size: cover;
    height:31rem;
    
  }

  .carousel{
    background-color: rgba(0,0,0,.55);
    padding-left:13rem;
  }

  .carousel-caption{
    position: relative;
    right: 0%;
    padding-top: 10rem;
    padding-bottom: 0;
    padding-right: 17rem;
    padding-left: 9rem;
    left: 0;
  }

  .carousel-indicators{
    padding-left:13rem;
  }

  .testimonial-font{
    font-size: 27px;
    font-style: italic;
    font-family: serif;
    font-weight: normal;
  }

  .testimonial-font::before{
    content:"“ ";
    font-size:32px;
    font-weight:bold
  }

  .testimonial-font::after{
    content:" ”";
    font-size:32px;
    font-weight:bold;
  }

  .auth-font{
    font-size:17px;
    text-align: right !important;
    margin-top:1rem ;
  }

  .touch-btn{
    background-color:#000000;
    color:rgb(230, 230, 230);
    font-size: 12px;
    font-weight:700;
  }

  .touch-btn:hover{
    background-color:#b9a186;
    color:rgb(230, 230, 230);
  }

  .help-font{
      font-size: 36px !important;
  }

  .footer-bg{
    background-color:#000;
  }

  .fa-white{
    color:white;
  }

  .navbar-overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    z-index: 998;
}

.overlay-add{
  display:block !important;
  opacity:0.6;
}

#social a:hover{
 text-decoration: none;
}

#social a .fa-facebook:hover{
  color:#3b5998;
}

#social a .fa-instagram:hover{
  color:#ab2bb9;
}

#social a .fa-twitter:hover{
color:#1da1f2;
}

#social-mobile a:hover{
  text-decoration: none;
 }
 
 #social-mobile a .fa-facebook:hover{
   color:#3b5998;
 }
 
 #social-mobile a .fa-instagram:hover{
   color:#ab2bb9;
 }
 
 #social-mobile a .fa-twitter:hover{
 color:#1da1f2;
 }